In [5]:
import numpy as np 
import seaborn as sns
import pandas as pd
import glob
import os

In [6]:
os.getcwd()

'/home/jovyan/Liang/ghw2019_wiggles/scripts'

In [10]:
df = pd.read_csv('../Labeled_arrivals_from_UWdatabase.txt',
                 names = ['type','unix_time','network','','location','channal','arr_label','quality','who'])
#df = df.reset_index()
df.head()

,type,unix_time,network,,location,channal,arr_label,quality,who
0,['EQ',1.568130e+09,'LON','UW',' ','HHN','S','i','H']
1,['EQ',1.568130e+09,'PR05','CC',' ','BHZ','P','i','H']
2,['EQ',1.568130e+09,'PR05','CC',' ','BHN','S','i','H']
3,['EQ',1.568130e+09,'SIFT','CC',' ','BHZ','P','i','H']
4,['EQ',1.568130e+09,'SIFT','CC',' ','BHE','S','i','H']

ValueError: DataFrame constructor not properly called!